    @use "sass:map";
    @import "style/pages/all";
    .bg_sub{
        background-color: map.get($theme-colors , "news_bg" );
        color: azure;
    }
    .menu_news{
        ul{
            display: flex;
            list-style: none;
            padding: 0;
            border-bottom: 1px solid #34393b;
            flex-wrap: wrap; 
        
            li{
                margin: 65px 10px 10px;
                cursor: pointer;
                position: relative;
                color: map.get( $theme-colors, "head_bt_bg_text" );
            }
            
        }
    }





    .menu_news li::after {
        content: '';
        display: block; 
        width: 100%; 
        height: 4px; 
        position: absolute; 
        bottom: -10px; 
        background-color: transparent;
    }

    .menu_news li.menu_news_active::after {
        background-color: #3498db; 
    }


    .news_banner{
        ul{
            display: flex;
            list-style: none;
            flex-wrap: wrap;
           
        li{
            padding: 10px;
            flex-basis: 30%;
        }
        li.news_banner_bn{
            img{
                width: 100%;   
                }
            .news_banner_bn-card{
                background-color: #34393b;


                
                       
            }
                    }


        }
    }