@use "sass:map";
@import "style/pages/all";
label {
    display: block;
    margin-bottom: 5px;
    color: white;
}
input[type="button"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    background-color:map.get($theme-colors, "head_bt_bg_sub_text" );
}

input[type="email"],
input[type="password"]
 {
 
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center
}

input[type="checkbox"] {
    margin-right: 5px;
}

.footer-links {

    text-align: center;
    span{
      
        color: map.get($theme-colors, "head_bt_bg_sub_text" );

    }
}

.footer-links {
    // a{
    // display: block;
    // color: #007BFF;
    // text-decoration: none;
    // margin: 5px 0;
    // }
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-login {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-login svg {
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.social-login svg:hover {
    transform: scale(1.1);
}

.modal {
    display: block; 
    position: fixed; /* Vị trí cố định */
    z-index: 1; /* Đặt lên trên cùng */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    // overflow: auto; /* Cuộn nếu cần */
    background-color: rgba(0, 0, 0, 0.5); 
    .modal-content {
        background-color: #131212;
        margin: 8% auto;
        padding: 20px;
        border: 1px solid #ccc;
        width: 500px; 
      
        position: relative; /* Để đặt nút đóng */
        border-radius: 12px;
        h2{
            padding: 20px;
            font-size: 30PX;
            font-weight: 700;
            text-align: center;
            color: map.get($theme-colors, "head_bt_bg_sub_text" );
        }
        .close {
            cursor: pointer;
            border-radius: 2px;
            text-align: center;
            width: 25px;
            background-color: #373434;
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            .close:hover,
            .close:focus {
                  color: rgb(206, 162, 162);
                 text-decoration: none;
                cursor: pointer;
}
        }
    }

}


 

.Header_top{
    background: map.get($theme-colors , "main" );
    
}
.head_bt_bg{
background-color: map.get($theme-colors, "head_bt_bg");

}

.Header_top_left{

 
    ul{
        display: flex;
        align-items: center;
        list-style: none;
        column-gap: 20px;
        align-items: center;
        padding: 13px 0 13px;
       
        li{
            margin-left: 2px;
            display: inline-block;
            vertical-align: middle;
            margin-top: 3px;
            font-size: 14px;
            color: map.get($theme-colors, "normal-text" );
            display: flex;
            align-content: center;
            column-gap: 2px;
        }
        li:first-child{
            position: relative;
           
            &::after{
            position: absolute;
            right: -10px;
            top:1px;
            height: 20px;
            width: 1px;
            background: rgb(0, 0, 0);
            opacity: 0,1;
            content: "";
            }
        }
    }
  

}

.Header_top_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul{
        display: flex;
        list-style: none;
        a{
            display: inline-block;
            color: map.get($theme-colors, "normal-text");
            text-decoration: none;
button {
    background-color: #d2610b; /* Màu nền */
    border: none; /* Không viền */
    color: white; /* Màu chữ */
    padding: 8px;/* Khoảng cách bên trong */
    text-align: center; /* Căn giữa chữ */
    display: inline-block; /* Hiển thị inline */
    font-size: 14px; /* Kích thước chữ */
    border-radius: 5px; /* Bo góc */
    margin: 2px;
}
.register {
    background-color: #049559; 
}
            


            }
        }
}



.header_logo{
    padding: 7px 0 1px;
      img{
        width: 60px;
        margin: 0px 250px; 
        height: auto;
     
      }
        
        color: map.get($theme-colors,"head_bt_bg_text");
    }
    .header_menu{
        cursor: pointer;
        padding: 15px 0;
        margin-left: 100px;
        ul{
            display: flex;
            justify-content: space-between;
        
        Li{
            list-style: none;
            margin: 0px 20px;
            position: relative;
            a{
                text-decoration: none;
               
                color: map.get($theme-colors,"head_bt_bg_text");
                letter-spacing: 2px;
                transform: all 0.3s;
                padding: 5px 0;
                display: block;
                font-size: 14px;
            }
        }
        li:hover .header_menu_dropdown{
            opacity: 1;
            visibility: visible;
        }
            // .active a{
            //     // color: map.get($theme-colors , "main" );
                
              
            // }
            .header_menu_dropdown{
                background: map.get($theme-colors, "head_bt_bg" );
                display: block;
                position: absolute;
                width: 220px;
                z-index: 9;
                padding: 5px 0;
                transition: all, 0.1s;
                opacity: 100;
                visibility: hidden;
                border-radius: 12px;
                li{
                    
                    a{
                       
                        color: map.get($theme-colors ,"head_bt_bg_text"  );
                        font-weight: 200;
                        padding: 3px 3px;
                    }
                    :hover {
                        color: map.get($theme-colors , "head_bt_bg_sub_text" );
                    }
                }
                }
        }
    
    }
    