@use "sass:map";
@import "style/pages/all";
label {
    display: block;
    margin-bottom: 5px;
    color: white;
}
input[type="button"]{
    margin-top: -50px ;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    background-color:#093e71;
}

.input-login[type="email"],
.input-login[type="password"]
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 19px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #131212;
    color: white;
}
input[type="email"]:hover,
input[type="password"]:hover{
    border: 1px solid map.get($theme-colors, "head_bt_bg_sub_text" );
}

input[type="checkbox"] {
    margin-right: 5px;
}


.footer-links {
    justify-content: space-between;
    .footer-links-item{
        margin-left: 50px;
    }
 
span{
    a.footer-links-item{
        text-decoration: none;
        color: map.get($theme-colors , "head_bt_bg_sub_text" );
       
    }
    color:#7bbff5;

}
}


.social-login {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-login svg {
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.social-login svg:hover {
    transform: scale(1.1);
}

.modal-html {
    display: block; 
    position: fixed; /* Vị trí cố định */
    z-index: 1; /* Đặt lên trên cùng */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    // overflow: auto; /* Cuộn nếu cần */
    background-color: rgba(0, 0, 0, 0.5); 
    .modal-content {
        background-color: #131212;
        margin: 8% auto;
        padding: 20px;
        border: 1px solid #ccc;
        width: 500px; 
      
        position: relative; /* Để đặt nút đóng */
        border-radius: 12px;
        h2{
            padding-bottom: 25px;
            font-size: 30PX;
            font-weight: 600;
            text-align: center;
            color: #77b9ec;
        }
        .close-html {
            cursor: pointer;
            border-radius: 2px;
            text-align: center;
            width: 35px;
            height: 32px;
            background-color: #373434;
            color: #aaa;
            font-size: 25px;
            font-weight: bold;
            margin-left: 416px;
            .close-html:hover,
            .close-html:focus {
                  color: rgb(206, 162, 162);
                 text-decoration: none;
                cursor: pointer;
}
        }
    }

}


//  .push{
//     margin-top: 106px;
//  }
// .set_zindex{
//     position: fixed; 
//     z-index: 9999999999999999999999999999999999999; 
//     top: 0; 
//     left: 0; 
//     right: 0; 
    
 
// }
.Header_top{
    background: map.get($theme-colors , "main" );
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Đổ bóng cho header
    justify-content: space-between;
    
}
.head_bt_bg{
    padding: 8px;
background-color: map.get($theme-colors, "head_bt_bg");

}
.Header_top ul {
    justify-content: flex-start;
    list-style: none;
    padding: 6px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .Header_top li {

    margin: 0 10px; 
  }
  .Header_top_left,
.Header_top_right {
    flex: 1; /* Chiếm bằng nhau */
}
.Header_top_left{
  
ul{
   justify-content: flex-start;
    vertical-align: middle;
    margin-top: 9px;
}
        li{

            color: map.get($theme-colors, "normal-text" );

        }
        li:first-child{
            position: relative;
            &::after{
            position: absolute;
            right: -10px;
            top:1px;
            height: 20px;
            width: 1px;
            background: rgb(0, 0, 0);
            opacity: 0,1;
            content: "";
            }
        }
    }
  



.Header_top_right{
  
    ul{
        justify-content: flex-end;
        a{
            
            display: inline-block;
            color: map.get($theme-colors, "normal-text");
            text-decoration: none;
button {
    background-color: #d2610b; /* Màu nền */
    border: none; /* Không viền */
    color: white; /* Màu chữ */
    padding: 8px;/* Khoảng cách bên trong */
    text-align: center; /* Căn giữa chữ */
    display: inline-block; /* Hiển thị inline */
    font-size: 14px; /* Kích thước chữ */
    border-radius: 5px; /* Bo góc */
    margin: 2px;
}
.register-html{
    background-color: #049559; 
}
            


            }
        }
}


  
.header_logo{
  
      img{
        width: 70px;
        margin: 0px 250px; 
        height: auto;
     
      }
        
        color: map.get($theme-colors,"head_bt_bg_text");
    }
    .header_menu{
        cursor: pointer;
        padding: 15px 0;
        margin-left: 100px;
        ul{
            justify-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    vertical-align: middle;
    margin-top: -6px;
    margin-left: -118px;      
        Li{
            list-style: none;
            margin: 0px 20px;
            position: relative;
            a:hover{
                color: map.get($theme-colors ,"head_bt_bg_sub_text"  );
            }
            a{
                text-decoration: none;
                color: map.get($theme-colors,"head_bt_bg_text");
                letter-spacing: 2px;
                transform: all 0.3s;
                padding: 5px 0;
                display: block;
                font-size: 14px;
            }
        }
        li:hover .header_menu_dropdown{
            opacity: 1;
            visibility: visible;
          
        }
            // .active a{
            //     // color: map.get($theme-colors , "main" );
                
              
            // }
            .header_menu_dropdown{
                background-color: map.get($theme-colors, "head_bt_bg" );
                display: block;
                position: absolute;
                width: 220px;
                z-index: 9;
                padding: 5px 0;
                transition: all, 0.1s;
                opacity: 100;
                visibility: hidden;
                border-radius: 12px;
           
                li{
                    
                    a{
                       
                        color: map.get($theme-colors ,"head_bt_bg_text"  );
                        font-weight: 200;
                        padding: 3px 3px;
                    }
                    :hover {
                        color: map.get($theme-colors , "head_bt_bg_sub_text" );
                    }
                }
                }
        }
    
    }
    